<!doctype html>
<html>
<head>
        <meta charset="utf-8" />
        <link href= '/styles/style.css' rel='stylesheet'>
</head>
<header>
	<div class="content">
	<a href="/">
		<div class="logo">
			<svg viewBox="0 0 30 30" height="100%">
				<circle fill="#000" cx="15" cy="15" r="15"> </circle>
				<text x="15" y="20" text-anchor="middle" fill="#fff" id="logo-text" font-weight="bold">S</text>
			</svg>
		</div>
		<div class="brand">
			<h1 class="title">Product Shunt</h1>
			<h2 class="motto">The mediocre recent products, every day</h2>
		</div>
	</a>

	<div class="mainNav">
		<ul class="horizontal">
			<li>Login</li>
			<li>About</li>
			<li>+</li>
		<ul>	
	</div>
	</div>
</header>
<body>
	{{{body}}}
</body>
</html>
